.view {
  text-align: center;
  margin-top: 30px;
}
.counter{
  font-size: 40px;
  margin-bottom: 10px;
}
button {
  background-color: rgb(128, 0, 100);
  border-radius: 15%;
  font-size: 20px;
  color: white;
}